{% extends "studentportal/base.html" %}

{% block content1 %}
    <div style="background-color: white" class="content">
        <CENTER><h2>Login</H2></CENTER>
        <form method="POST">
            {% csrf_token %}
            <p>
                <label>Username</label>
                <input type="text" name="username">
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password">
            </p>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}