{% extends "studentportal/base.html" %}

{% block content1 %}
    <div style="background-color: white" class="content">        
        <center>
            <h1>Students Platform</h1>
            <div id="mission_vision">
                <p>We are an organization aimed an ensuring that students from all over Africa and the eventually <br>the rest of the world, have easy access to recent text books to enable them
                study effeciently.</p>
                <p>We offer e-books which are easily downloaded from our website at no charges at all.</p>
            </div>
        </center>
    </div>
{% endblock %}