{% extends "studentportal/base.html" %}

{% block content1 %}
    <div style="background-color: white" class="content">        
        <center>
            <h1>Contact us</h1>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Telephone</th>
                  <td>+254 700 000 001</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td>info@studentsportal.com</td>
                </tr>
                <tr>
                  <th scope="row">Website</th>
                  <td>www.studentsportal.com</td>
                </tr>
                <tr>
                  <th scope="row">Location</th>
                  <td>Mombasa, Kenya</td>
                </tr>
              </tbody>
            </table>
        </center>
    </div>
{% endblock %}